*{

box-sizing:border-box;

}



body{

margin:0;

font-family:

"Microsoft YaHei",
"Segoe UI",
sans-serif;

color:#111;

background:white;

}


/* 首页 */


.home-main{

height:90vh;

display:flex;

}



.intro{

width:40%;

padding:

100px;

}



.intro h1{

font-size:72px;

margin:0;

}



.intro h2{

font-weight:normal;

}



button{

cursor:pointer;

}



.intro button{


background:#0078d4;

border:none;

color:white;

padding:

15px 45px;


font-size:20px;


}



.cover{


flex:1;

display:flex;

align-items:center;

justify-content:center;

}



.cover img{

max-width:80%;

}



footer{

height:10vh;

background:#000;

color:white;

padding:20px;

font-size:14px;

}


/* 阅读器 */


.reader{

display:flex;

height:100vh;

}



#sidebar{

width:300px;

border-right:

1px solid #ddd;

overflow:auto;

padding:20px;


}



.sidebar-title{

font-size:24px;

margin-bottom:20px;

}



#article{


flex:1;

max-width:1000px;

overflow:auto;

padding:60px;


}



.author{


position:fixed;

right:30px;

top:30px;


background:#0078d4;

color:white;

border:0;

padding:10px 25px;


}


#article h1{

font-size:40px;

}


#article h2{

margin-top:50px;

}


#article h3{

margin-top:30px;

}

/* 图片系统 */


figure{

margin:30px auto;

text-align:center;

}



figure img{


max-width:90%;


}



figcaption{


font-size:14px;

color:#666;


}




.img-left{

float:left;

margin-right:20px;

}



.img-right{

float:right;

margin-left:20px;


}



.img-around{


float:left;

margin:10px;


}

